@page
@model FormWeb.Pages.Pessoas.DeleteModel

@{
    ViewData["Title"] = "Excluir cadastro";
}

<h1>Excluir</h1>

<h3>Tem certeza que deseja excluir este cadastro? Está ação não pode ser desfeita!</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.cep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.nacionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nacionalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.logradouro)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pessoa.id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-page="./Index"> Voltar para a lista </a>
    </form>
</div>
