@page
@model FormWeb.Pages.Pessoas.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Nome")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Sobrenome")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CPF")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Telefone")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("CEP")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Nacionalidade")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.nacionalidade.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Estado")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.estado.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Cidade")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.cidade.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Logradouro")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.logradouro)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pessoa.idPessoa">Editar</a> |
    <a asp-page="./Index"> Voltar para a lista </a>
</div>
