@page
@model FormWeb.Pages.Pessoas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-page="Create">Criar novo cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nome")
            </th>
            <th>
                @Html.DisplayName("Sobrenome")
            </th>
            <th>
                @Html.DisplayName("CPF")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pessoa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idPessoa">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.idPessoa">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.idPessoa">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
